<div id="note" [style.background]="background" [style.border-color]="border">

  <div id="top_header">
    <a href="dashboard">
      <mat-icon svgIcon="move-back"></mat-icon>
    </a>
    <p>{{todo.name}}</p>
  </div>

  <div id="note_content">
    <p>{{todo.content}}</p>
  </div>

  <div id="note_footer">
    <button [(colorPicker)]="background" [style.background]="background" 
    class="icon_small" 
    [cpOKButton]=true [cpOKButtonText]="cpOkButtonText"
    [cpCancelButton]="true" [cpCancelButtonText]="cpAnulujText"
    [cpSaveClickOutside]="false" 
    (colorPickerChange)="colorChanged()">
      <mat-icon svgIcon="colors-wheel"></mat-icon> </button>
  </div>
</div>
