#top_header {
  margin-top: 5px;
  padding-bottom: 15px;
}

#top_header > a {
  width: 10%;
}

#top_header > p, a {
  display: inline-block;
}

#top_header > p {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: 80%;
}

#note {
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 500px;
  min-width: 200px;
  width: 33%;
}

#note_content{
  margin-left: 5px;
  margin-right: 5px;
}

#note_color_picker{
  
}
