.back_button{
    height: 20px;
    width: 20px;
    padding: 0;
    border: 0;
}

.back_button i {
    height: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
    background: url("../../assets/icons/move_back.svg") no-repeat;
    display: inline-block;
}

.pin_button{
    height: 40px;
    width: 40px;
    padding: 0;
    border: 0;
    float: right;
}
.pin_button i {
    height: inherit;
    width: inherit;
    color: black;
    background: url("../../assets/icons/pin.svg") no-repeat;
    display: inline-block;
}
.header {
  background-color: #ffffff;
  max-width: 960px;
  min-width: 200px;
  width: auto;
  padding: 5px;
  border: 0;
  font-size: 35px;
  margin: 10px;
}

.header:after {
  content: "";
  display: block;
  clear: both;
}


.note_body{

}