ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: initial;
  overflow: hidden;
  margin-bottom: 50px;
  background-color: lightgray;
}

li{
  float: left;
}

a{
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  display: block;
}

a:hover{
  background-color: gray;
}
