/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffffff;
}

.icon_small{
    width: 25px;
}

.icon_medium{
    width: 40px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
