/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Roboto', sans-serif;
}

*:focus{
    outline: none;
    border: 0;  
}

body{
    background-color: #ffffff;
}

.icon_small{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: 0;
}

.icon_medium{
    width: 40px;
    height: 40px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
